*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root
{
	--corPreto: #000000;
}

html, body
{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

header
{
	text-align: center;
	background-color: #0197f6;
	height: 50px;
	color: #ffffff;
}

header h1
{
	padding: 5px;
}

main
{
	display: flex;
	flex-direction: column;
	height: calc(100% - 50px);
	width: 100%;
}

.formulario
{
	text-align: center;
	padding: 5px;
	height: 116px;
}

.formulario-level
{
	padding: 5px;
}

.formulario-level select
{
	font-size: 20px;
}

.formulario-buttons
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.formulario-buttons button
{
	width: 150px;
	height: 30px;
	background-color: #0197f6;
	color: #ffffff;
	border: none;
	margin-top: 5px;
}

.tabuleiro
{
	height: calc(80% - 152px); /* 116px - altura da div contendo os botoes e a caixa de seleção, 36px - altura do rodape */
	width: 80%;
	margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    grid-template-rows: repeat(3, 1fr);    /* 3 linhas */
}

.tabuleiro > div
{
    border: 1px solid transparent;
	background-position: center;	
	background-repeat: no-repeat;
}

.tabuleiro > div:nth-child(-n+6)
{
    border-bottom: 1px solid black;	
}

.tabuleiro > div:nth-child(3n+1), /* 1,4,7 */
.tabuleiro > div:nth-child(3n+2)  { /* 2,5,8 */
    border-right: 1px solid black;
}

.placar
{
	text-align: center;
}
